{% extends 'base.html' %}

{% block title %} パスワードリセット | Private Diary{% endblock %}

{% block header %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('static/img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Private Diary</h1>
            <span class="subheading">あなた専用の日記保存サービス</span>
            <a href="{% url 'account_login' %}" class="btn btn-primary btn-xl rounded-pill mt-5">LOG IN</a>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}

{% block contents %}
<div class="container">
  <div class="row">
    <div class="my-div-style">
      <h1>パスワードリセット</h1>
      {% if user.is_authenticated %}
      {% include "account/snippets/already_logged_in.html" %}
      {% endif %}

      <p>パスワードリセット用メールを送信します。</p>

      <form method="post" action="{% url 'account_reset_password' %}">

        {% csrf_token %}

        {{ form.as_p }}

        <button class="btn btn-primary" type="submit">送信</button>
      </form>      
    </div>
  </div>
</div>

{% endblock %}