{% extends 'base.html' %}

{% load static %}

{% block title %}Web上にあなた専用の日記ページを保存できるサービス | Private Diary{% endblock %}

{% block header %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('static/img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Dear Diary</h1>
            <span class="subheading">秘密の日記帳</span>
            {% if user.is_authenticated %}
            <a href="{% url 'diary:diary_list' %}" class="btn btn-primary btn-xl rounded-pill mt-5">DIARY LIST</a>
            {% else %}           
            <a href="{% url 'account_login' %}" class="btn btn-primary btn-xl rounded-pill mt-5">LOG IN</a>
            {% endif %}

          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}

{% block contents %}

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
          <a href="post.html">
            <h2 class="post-title">
              家庭菜園
            </h2>
            <h3 class="post-subtitle">
              白菜、キャベツ、リーフレタス、ブロッコリ。大きく育ちますように。
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">Anonymouse</a>
            on September 24, 2020</p>
        </div>
        <hr>
        <div class="post-preview">
          <a href="post.html">
            <h2 class="post-title">
              Today's Meal 
            </h2>
            <h3 class="post-subtitle">
              Breakfast:

Cereal with 1% milk

Half a grapefruit

Coffee

Lunch:

Green salad, grilled chicken,

Water

Dinner:

Chicken Curry

water
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">Anonymouse</a>
            on September 18, 2019</p>
        </div>
        <hr>
        <div class="post-preview">
          <a href="#">
            <h2 class="post-title">
              日日雑記
            </h2>
            <h3 class="post-subtitle">
              私より遥か年上となった玉は、歩いていてふっと立ち止まり、そのままの姿勢で壁に向い、じーっと動かないでいることが多くなった。私は「ヨード卵光」という普通の卵でない卵を割って黄身を甜めさせ、「おーい。大丈夫かあ。長生きせえよお」と、ついぞ他人にもわが身にもかけたことのない言葉をかけた。玉は瞬間的剥製からよみがえり、歌舞伎子役のような声を張り上げて、「あーいー」と返事した……。
私はバナナを食べながら、この猫がうちにきてからの、いろいろなことをどっと思い出して、食べながら泣いた。
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">Mr.Hawks</a>
            on August 24, 2019</p>
        </div>
        <hr>
        <div class="post-preview">
          <a href="#">
            <h2 class="post-title">
              From Franz Kafka’s diaries
            </h2>
            <h3 class="post-subtitle">
              Germany has declared war on Russia. Swimming in the afternoon.
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">Franz Kafka</a>
            on July 8, 2019</p>
        </div>
        <hr>
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div>
      </div>
    </div>
  </div>

  <hr>

  

{% endblock %}
